<footer class="footer">
	<div class="container">
		<div class="footer__inner">

			<div class="footer__copyright">
				© 2018 «LoremIpsum.net» Все права защищены.
			</div>

			<div class="footer__splitter"></div>

			<div class="footer__payment payment">
				<div class="payment__method payment__method--qiwi">
					<img class="payment__icon" src="assets/images/icons/qiwi-icon.svg" alt="QIWI wallet">
					<p class="payment__text">QIWI wallet</p>
				</div>
				<div class="payment__method payment__method--yandex">
					<img class="payment__icon" src="assets/images/icons/yandex-icon.svg" alt="Yandex Money">
					<p class="payment__text">Yandex Money</p>
				</div>
				<div class="payment__method payment__method--web">
					<img class="payment__icon" src="assets/images/icons/web-icon.svg" alt="Web Money">
					<p class="payment__text">Web Money</p>
				</div>
			</div>

			<div class="footer__splitter">
			</div>

			<div class="footer__social social">
				<a class="social__block" href="mailto:cy66a@mail.ru">
					<img class="social__icon" src="assets/images/icons/mail-icon.svg" alt="e-mail">
					<p class="social__text">info@ipsum228.com</p>
				</a>
				<a class="social__block" href="https://www.vk.com/cy66a" target="_blank">
					<img class="social__icon" src="assets/images/icons/vk-icon.svg" alt="vkontakte">
					<p class="social__text">Мы вконтакте</p>
				</a>
			</div>

		</div>
	</div>
</footer>