<section class="intro">
	<div class="container">
		<div class="intro__inner">

			<h1 class="intro__title" data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000">
				<span class="warm-blue">Lorem ipsum </span>
				dolor sit<br>
				amet consectetur
				<span class="warm-blue">adipiscing</span>
			</h1>

			<div class="intro__description">
				<ul class="intro__list">
					<h3 class="intro__sub-title">At vero eos et accusamus et iusto odio dignissimos ducimus!</h3>
					<li class="intro__item">Totam rem aperiam eaque ipsa</li>
					<li class="intro__item">Sit voluptatem accusantium doloremque laudantium</li>
					<li class="intro__item">Sed ut perspiciatis, unde omnis iste natus error</li>
				</ul>
			</div>

			<div class="intro__buttons">
				<a class="intro__order-button button" href="#" data-goto=".order">
					Заказать
				</a>
				<a class="intro__more-button button button--white" href="#" data-goto=".order">
					Подробнее
				</a>
			</div>

		</div>
	</div>
</section>