$primary:   #10101D;
$secondary: #272733;
$white:     #fff;
$black:     #000;
$blue:      #43ABF0;
$light-blue: #42A9ED;
$warm-blue: #3E9CDC;
$middle-blue: #286690;
$dark-blue: #3D4050;
$grey: #C3C3C3;

$z-index-sidebar: 1000;
$z-index-header:  1000;
$z-index-modal:   1010;

$header-height: 100px;

$tablet-bp: 991px;
$md-bp: 768px;
$mobile-bp: 575px;